[submodule "python-generate-image-tool"]
	path = python-generate-image-tool
	url = /usr/local/git-local-repos/python-generate-image-tool.git
[submodule "go-web-debug-tool"]
	path = go-web-debug-tool
	url = git@gitee.com:liushimeng109117198_admin/go-web-debug-tool.git
